/* sass run command: sass --watch input.scss:output.css */
@mixin tab {
  @media (min-width: #{$tab}) {
	@content;
  }
}

@mixin desk {
  @media (min-width: #{$desk}) {
	@content;
  }
}

@mixin desklarge {
  @media (min-width: #{$desklarge}) {
	@content;
  }
}
/*--------------- BREAKPOINTS STYLES --------------*/
$tab: 750px;
$desk: 1150px;
$desklarge: 1500px;
/*--------------- COLORS STYLES --------------*/
$background: #d1976da6;
$background-dark: #524646;
$red: #8d2a2a;
/*--------------- GENERIC STYLES --------------*/
body {
	margin: 0;
}


ul {
	display: flex;
	justify-content: end;
	background-color: $background-dark;
	margin: 0;
	padding: 2em 1em;
	list-style: none;
	
	li {
		font-size: 1.5em;
		margin: .5em 1em;
		
		a {
			text-decoration:  none;
			color: $background;
			position: relative;
		}
		
		a::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 100%;
			height: 3px;
			background: $background;
			border-radius: 5px;
			transform: scaleX(0);
			transition: transform .5s;
		}
		
		a:hover::after {
			transform: scaleX(1);
		}
	}
}

.layout-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	background-image: url(../Images/_000c3cf6-40aa-444a-9169-82e9170d9594.jpeg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.container {
	background-color: $background;
	padding: 2em 3em;
	border-radius: 1em;
	filter: drop-shadow(1px 7px 4px rgba(0, 0, 0, 0.604));
	width: 80%;
	max-width: 25em;
	margin-inline: 5%;
}


.form--hidden {
	display: none;
}


.container .form__message--error {
	color: $red;
	font-weight: 600;
	margin: .5em 0 .5em;
}


.container .form__input {
	border-radius: 0.3em;
	border: none;
	margin: 0.5em 0;
	padding: 1em 2em 1em 0.5em;
	color: #ae8585;
	background-color: $background-dark;
	width: 80%;
}


.container .form__input-error-message {
	color: $red;
	margin: 1em 0;
}


.container button {
	text-align: center;
	display: flex;
	margin: 1em auto;
	padding: 1em 4em;
	border-radius: 0.3em;
	border: none;
	cursor: pointer;
	background-color: $red;
}


.container a {
	color: black;
	text-decoration: none;
}


.container a:hover {
	color: $red;
	cursor: pointer;
}


.container .form__input-error-message {
	color: $red;
	margin: 1em 0;
}