/* sass run command: sass --watch input.scss:output.css */
@mixin tab {
  @media (min-width: #{$tab}) {
	@content;
  }
}

@mixin desk {
  @media (min-width: #{$desk}) {
	@content;
  }
}

@mixin desklarge {
  @media (min-width: #{$desklarge}) {
	@content;
  }
}
/*--------------- BREAKPOINTS STYLES --------------*/
$tab: 750px;
$desk: 1150px;
$desklarge: 1500px;
/*--------------- COLORS STYLES --------------*/
$background: #d1976da6;
$background-dark: #524646;
$red: #8d2a2a;
/*--------------- GENERIC STYLES --------------*/
body {
	margin: 0;
}


header {
	background-color: $background-dark;
}

.main-menu {
	display: flex;
	justify-content: end;
	max-width: 1250px;
	margin: 0 auto;
	padding: 2em 1em;
	
	.subnav {
		position: relative;
		
		.sub-main-menu {
			visibility: hidden;
			opacity: 0;
			padding: 0;
			position: absolute;
			transform: translateY(-10px);
			background-color: $background-dark;
			padding-right: 1.5em;
			margin-right: -1.5em;
			min-width: 13em;
			border-radius: .3em;
			transition: opacity 0.2s, visibility 0.4s, transform 0.8s;
			
			li {
				margin-right: -5px;
			}
		}
	}
	
	.subnav:hover .sub-main-menu {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	
	li {
		font-size: 1.5em;
		margin: .5em 1em;
		list-style: none;
		
		a {
			text-decoration:  none;
			color: $background;
			position: relative;
		}
		
		a::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 100%;
			height: 3px;
			background: $background;
			border-radius: 5px;
			transform: scaleX(0);
			transition: transform .5s;
		}
		
		a:hover::after {
			transform: scaleX(1);
		}
	}
}
/*--------------- HOME PAGE STYLING -------------*/
.layout-body {
	background-image: url(../Images/_000c3cf6-40aa-444a-9169-82e9170d9594.jpeg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.layout-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}


.login-window {
	display: none;
	background-color: $background;
	padding: 2em 3em;
	border-radius: 1em;
	filter: drop-shadow(1px 7px 4px rgba(0, 0, 0, 0.604));
	width: 80%;
	max-width: 25em;
	margin-inline: 5%;
}


.form--hidden {
	display: none;
}


.login-window .form__message--error {
	color: $red;
	font-weight: 600;
	margin: .5em 0 .5em;
}


.login-window .form__input {
	border-radius: 0.3em;
	border: none;
	margin: 0.5em 0;
	padding: 1em 2em 1em 0.5em;
	color: #ae8585;
	background-color: $background-dark;
	width: 80%;
}


.login-window .form__input-error-message {
	color: $red;
	margin: 1em 0;
}


.login-window button {
	text-align: center;
	display: flex;
	margin: 1em auto;
	padding: 1em 4em;
	border-radius: 0.3em;
	border: none;
	cursor: pointer;
	background-color: $red;
	
	&:hover {
		background:linear-gradient(to bottom, #8d2a2a 5%, #b53b16 100%);
		background-color:$red;
	}
}


.login-window a {
	color: black;
	text-decoration: none;
}


.login-window a:hover {
	color: $red;
	cursor: pointer;
}


.login-window .form__input-error-message {
	color: $red;
	margin: 1em 0;
}
/*-------------- BRACKETS STYLING ------------*/
.container-team-score {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 3em 0;
	
	@include tab {
		justify-content: space-between;
		padding: 6em calc((100vw - 1200px)/2);
	}
}

.team-score {
	text-align: center;
	padding: 1em;
	background-color: #ffa50057;
	margin: 1em;
	border-radius: 0.5em;
	
	@include tab {
		width: 41%;
		max-width: 30em;
	}
	
	button {
		padding: 0.5em 3em;
		font-size: 24px;
		background-color: $background;
		border: none;
		border-radius: 0.3em;
		margin: .5em 1em;
		filter: drop-shadow(1px 7px 4px rgba(0, 0, 0, 0.604));
		
		&:hover {
			cursor: pointer;
			background-color: $background-dark;
			color: $red;
		}
	}
}